.remove-ad-box {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  border: 1px solid #ccc;
  z-index: 9999;
  cursor: pointer;
  font-size: 12px;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.remove-ad-box-red {
  .remove-ad-box {
    background-color: red;
  }
}

.zhihu-toolbox,
.juejin-toolbox,
.jianshu-toolbox,
.sifou-toolbox,
.google-toolbox,
.bokeyuan-toolbox,
.momoyu-toolbox,
.xiaodao-toolbox {
  position: fixed;
  left: 0;
  width: 300px;
  top: 70px;
  height: calc(100vh - 150px);
  overflow-y: auto;
  z-index: 999999;
  ul {
    width: 100%;
    li {
      display: flex;
      align-items: center;
      width: 100%;
      height: 25px;
      overflow: hidden; //超出的文本隐藏
      text-overflow: ellipsis; //溢出用省略号显示
      white-space: nowrap; //溢出不换行
      box-sizing: border-box;
      &:hover {
        background-color: pink;
      }
      a {
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
.google-toolbox,
.momoyu-toolbox {
  right: 0;
  left: unset;
}
.momoyu-toolbox {
  top: 300px;
  width: 395px;
  height: calc(100vh - 300px);
  background-color: #fff;
}
